.custom-no-results {
  margin-top: 1em;
  text-align: center;

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
}

.no-results-text {
  margin-bottom: 0.5em;
}

.search-no-results-actions {
  margin: 0.5em 0 1em;
  
  .create-topic-button {
    margin: 0 auto;
  }
}