// common/common.scss
.test-outlet {
  display: block;
  margin: 20px 0;
  padding: 20px;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 3px solid yellow;
}