// common/common.scss
.search-no-results-actions {
  margin: 0.5em 0 1em;
  text-align: center;
  
  .create-topic-button {
    margin: 0 auto;
  }
}

.no-results-suggestion {
  a {
    display: none;
  }
}