{{#if this.currentUser}}
  {{#if this.shouldShow}}
    <div class="no-results-action">
      <DButton
        @class="btn-primary create-topic"
        @action={{this.createNewTopic}}
        @icon="plus"
        @label="topic.create"
      />
    </div>
  {{/if}}
{{/if}}