{{#if currentUser}}
  <div class="new-topic-button-wrapper">
    {{d-button
      class="btn-primary"
      action=(route-action "createTopic")
      icon="plus"
      label="topic.create"}}
  </div>
{{/if}}