{{#unless model.resultCount}}
  <div class="new-topic-button-container">
    {{d-button
      class="btn-primary"
      action=(route-action "createTopic")
      icon="plus"
      label="topic.create"}}
  </div>
{{/unless}}