<div class="search-no-results-actions">
  {{#if currentUser}}
    {{d-button
      class="btn-primary create-topic-button"
      action=(action "createNewTopic")
      icon="plus"
      label="topic.create"}}
  {{/if}}
</div>
